.idea
models
temp
__pycache__
*.vsidx
*.pth
.vs\*
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/roop/v17/.wsuo
.vs/slnx.sqlite
.vs/roop/v17/.wsuo
*.sqlite
.vs/slnx.sqlite
.vs/*
*.sqlite
